.survey-list-item {
  margin-bottom: 6px;
  border-radius: 10px;
  background: white;

  .record-info {
    margin-left: 15px;

    span {
      margin-right: 10px;
    }
  }

  h3 {
    font-weight: 500;
    font-size: 1.1em;
  }

  h3,
  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .record-photo-profile {
    position: relative;
    background-color: var(--color-primary-100);
    min-width: 81px;
    max-width: 60px;
    height: 67px;
    overflow: hidden;
    text-align: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  ion-item {
    --padding-start: 0;
    box-shadow: 0 0 10px #dcdcdc;

    --detail-icon-opacity: 0.8;

    &.id-green {
      --detail-icon-color: green;
    }

    &.id-amber {
      --detail-icon-color: orange;
    }

    &.id-red {
      --detail-icon-color: #3c3c3c;
    }
  }
}
