#card {
  ion-card.ios {
    box-shadow: rgba(12, 12, 12, 0.47) 0px 4px 15px;
  }

  ion-card {
    .card {
      display: flex;
      background-color: white;
      width: 100%;
      height: 200px;
      --border-radius: 5px;
      background-size: cover;

      .card-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        color: white;

        .card-blur-container {
          backdrop-filter: blur(6px);
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
          border-radius: 0px 0px 5px 5px;
          background-color: rgba(35, 35, 35, 0.45);
          width: 100%;
        }
      }
    }
  }
}
